<blockquote class="note detail">
    <i class="ri-arrow-right-s-line ri-lg showhidden"></i>
    <div class="content">
        {% if header %}
        <p><strong>{{ header }}</strong></p>
        {% else  %}
        <p><strong>Plus de détails</strong></p>
        {% endif %}
        <div class="body hidden">
            {{ body | markdown | safe }}
        </div>
    </div>
</blockquote>