<header {% if config.extra.blur_effect %} class="blur" {% endif %}>
    <div class="top">
        <a class="header blog" href="/"><i class="{{ config.extra.blog_icon }} ri-2x"></i><span>La Forge</span></a>
        <a class="back" href="/me"><i class="{{ config.extra.home_icon }} ri-xl"></i><span>L'auteur</span></a>
        <div class="icon">
            <a id="go-home" href="/me" aria-label="home" ><i class="{{ config.extra.home_icon }} ri-xl"></i></a>
            {% if config.extra.feed_in_blog_section -%}
            <a href="/{{ config.feed_filename }}" aria-label="rss feed" ><i class="{{ config.extra.rss_icon }} ri-xl"></i></a>
            {% elif config.generate_feed -%}
            <a href="/{{ config.feed_filename }}" aria-label="rss feed" ><i class="{{ config.extra.rss_icon }} ri-xl"></i></a>
            {% endif -%}
            <button id="color-toggle" aria-label="dark light mode switch"><i class="ri-moon-line ri-xl"></i></button>
            {% if page.extra.toc is defined %}{% set show_toc = page.extra.toc -%}
            {% else %}{% set show_toc = config.extra.toc %}{% endif -%}
            {% if show_toc and page -%}
            <button id="toc-toggle" aria-label="table of content"><i class="{{ config.extra.toc_icon }} ri-xl"></i></button>
            {% endif -%}
        </div>
    </div>
    <div id="progress-bar"></div>
</header>
